/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background: #fff;
}
.header {
	background: #fff;
	padding: 1px 10px;
}
.logo {
	float: left;
	margin-top: 4px;
}
/*--menu--*/
.navicon {
	display: block;
	width: 20px;
	height: 14px;
	float: right;
	background: url('../images/nav.png') no-repeat;
	margin-top: 13px;
}
.navgation-links ul li a {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #746E6E;
	display: block;
	padding: 10px 0px;
	border-bottom: 1px ridge #DBDADA;
	text-indent: 12px;
	text-align: left;
	text-transform: uppercase;
}
.banner {
	background: url(../images/banner.jpg) no-repeat center top;
	background-size: 100% 100%;
	min-height: 148px;
	text-align: center;
	padding-top: 10px;
}
.container_wrap {
	margin: 0 auto;
	padding: 0 10px;
}
.dropdown-buttons {
	margin-bottom: 5px;
}
.banner h1 {
	color: #fff;
	font-size: 0.85em;
	font-weight: 500;
	margin-bottom: 1em;
}
.banner input[type="text"] {
	background: rgba(111, 111, 111, 0.17);
	-webkit-appearance: none;
	border: 1px solid #5b5953;
	outline: none;
	font-size: 0.8125em;
	padding: 8px;
	color: #fff;
	width: 80%;
	text-transform: lowercase;
	margin-bottom: 15px;
}
.dropdown-button select {
	background: rgba(111, 111, 111, 0.17);
	border: 1px solid #5b5953;
	color: #fff;
	font-size: 0.8125em;
	padding: 5px;
	width: 90px;
	float: left;
}
.dropdown-button select option {
	background: red;
}
.banner input[type="submit"], .footer input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
}
.dropdown-button {
	display: inline-block;
}
.btn1 {
	background: #e94e38;
	color: #fff;
	font-size: 12px;
	padding: 7px 3px;
}
/*--content--*/
.content_top {
	background: #fff;
	padding: 10px;
	border-bottom: 1px solid #E6E5E5;
}
.content_menu ul {
	padding: 0;
	list-style: none;
}
.content_menu ul li {
	display: inline-block;
}
.content_menu ul li a {
	color: #96a6a7;
	display: block;
	margin: 10px 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}
.content_dropdown1 {
	padding: 10px 0 20px;
}
.content_menu ul li a:hover, .content_menu ul li.active a {
	color: #e94e38;
}
.content_dropdown:first-child {
	margin-left: 0;
}
.content_dropdown {
	display: inline-block;
}
.content_dropdown {
	margin-left: 15px;
	width: 44%;
}
ul.filter {
	padding: 0;
	list-style: none;
	margin-top: -5px;
}
ul.filter h3 {
	font-size: 0.8125em;
	color: red;
	text-transform: uppercase;
}
ul.filter li.fil {
	float: left;
	margin:5px 5px 0 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	color: #96a6a7;
}
ul.filter li {
	display: inline-block;
}
ul.filter li:first-child {
	margin-left: 0;
}
.grid1 {
	margin-bottom: 20px;
	text-align: center;
}
.index_img img {
	border-bottom: 2px solid #1baf5d;
}
.index_img1 img {
	border-bottom: 2px solid #f19e1f;
}
.index_img2 img {
	border-bottom: 2px solid #88499c;
}
.content_middle {
	background: #f3f1f2;
}
.inner_wrap, .inner_wrap2 {
	background: #fff;
	padding: 10px;
	text-align: center;
}
.inner_wrap h3, .inner_wrap2 h3 {
	color: #566375;
	font-size: 0.8125em;
	font-weight: 100;
	line-height: 1.3em;
	margin-bottom: 1em;
}
ul.star1 {
	padding: 0;
	list-style: none;
}
ul.star1 li a {
	font-size: 12px;
	color: #96a6a7;
}
ul.star1 li a img {
	padding-right: 5px;
	vertical-align: sub;
}
h4.green, h4.yellow, h4.blue {
	color: #1baf5d;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0;
}
h4.yellow {
	color: #f19e1f;
}
h4.blue {
	color: #9055a3;
}
.inner_wrap1 {
	background: #fff;
	padding: 10px;
}
ul.item_module {
	padding: 0;
	list-style: none;
}
ul.item_module li.module_left {
	float: left;
	margin-right: 1em;
	padding: 15px 0 0 0;
}
ul.item_module li.module_right {
	overflow: hidden;
}
ul.item_module li.module_left img {
	border: 3px solid #e2dee0;
	width: 82%;
}
ul.item_module li.module_right h5 {
	color: #495564;
	font-size: 0.85em;
	text-transform: uppercase;
	margin: 0.8em 0 0.2em;
}
ul.item_module li.module_right p {
	color: #788291;
	font-size: 12px;
	line-height: 1.8em;
	display: inline;
	font-weight: normal;
}
.content_btn {
	display: inline-block;
	color: #495564;
	font-size: 0.8125em;
	line-height: 18px;
	font-weight: 100;
	text-align: left;
}
.bottom_grid {
	padding-top: 2em;
}
.inner_wrap2 {
	padding: 1.8em 1em;
}
.content_middle_box {
	border-bottom: 1px solid #DADADA;
	padding: 20px 10px;
}
.offering {
	text-align: center;
	padding: 20px 10px;
}
.offering h2 {
	color: #566375;
	font-size: 0.85em;
	font-weight: 100;
}
.offering h3 {
	color: #96a6a7;
	font-size: 1em;
	font-weight: 400;
}
ul.icons {
	padding: 0;
	list-style: none;
	position: relative;
	margin-top: 20px;
}
ul.icons li {
	display: inline-block;
}
.real {
	margin: 0 auto;
	width: 75%;
}
.real h4 {
	color: #1db05e;
	font-size: 1.1em;
	margin: 20px 0;
}
ul.service_grid {
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}
ul.service_grid li.desc1 {
	overflow: hidden;
	text-align: left;
}
ul.service_grid li.desc1 p {
	color: #96a6a7;
	font-size: 12px;
	font-weight: 100;
	line-height: 1.8em;
}
.offering h3 {
	color: #96a6a7;
	font-size: 0.8125em;
	font-weight: 100;
	margin-top: 5px;
}
i.s1 {
	float: left;
	margin-right: 10px;
}
/*--footer--*/
.footer {
	background: url(../images/footer.jpg) no-repeat center top;
	background-size: 100% 100%;
	text-align: center;
	padding: 20px 10px;
}
.footer h3 {
	color: #fff;
	font-size: 0.85em;
	margin-bottom: 15px;
}
.footer span {
	background: rgba(111, 111, 111, 0.17);
	border: 1px solid #5b5953;
	padding: 3px 3px 3px 5px;
	display: block;
	outline: none;
	text-align: left;
	width: 95%;
	margin: 0 auto;
}
.footer span i img {
	vertical-align: text-top;
}
.footer input[type="text"] {
	padding: 10px 0;
	color: #FFF;
	font-size: 11px;
	background: none;
	outline: none;
	border: none;
	margin: 0px auto;
	width: 47%;
	-webkit-apperance: none;
	vertical-align: super;
}
label.btn1.btn2.btn-2.btn-2g {
	padding:6px 0px;
	float: right;
}
.footer_grids {
	text-align: left;
}
.footer-grid {
	margin-bottom: 20px;
}
.last_grid {
	margin-right: 0;
}
ul.list1 {
	padding: 0;
	list-style: none;
}
ul.list1 li a {
	color: #ADADAD;
	font-size: 0.8125em;
	font-weight: 100;
	line-height: 1.8em;
}
ul.list1 li a:hover {
	color: #e94e38;
}
.footer_top {
	border-bottom: 1px solid #5b5953;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.footer-grid h4 {
	color: #fff;
	font-size:0.85em;
	margin-bottom: 10px;
	border-bottom: 1px solid #5b5953;
	width:40%;
}
ul.footer_social {
	padding: 0;
	list-style: none;
}
ul.footer_social li {
	display: inline-block;
	margin-right: 10px;
}
ul.footer_social li a i {
	width: 30px;
	height: 35px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat;
}
ul.footer_social li a i:hover {
	opacity: 0.8;
}
ul.footer_social li a i.fb {
	background-position: -17px -252px;
}
ul.footer_social li a i.tw {
	background-position: -59px -253px;
}
ul.footer_social li a i.google {
	background-position: -109px -253px;
}
ul.footer_social li a i.u_tube {
	background-position: -162px -253px;
}
.copy {
	margin-top: 20px;
}
.copy p {
	font-size: 0.8125em;
	color: #fff;
}
.copy p a {
	color: #e94e38;
}
.copy p a:hover {
	color: #fff;
}
/*--living--*/
.living_middle {
	padding: 20px 10px;
	background: #f3f1f2;
	position: relative;
}
.living_box {
	position: relative;
	padding: 10px;
	background: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.new-box {
	right: 10px;
}
.living_desc h3 {
	margin: 20px 0 5px;
}
.living_desc h3 a {
	color: #566375;
	font-size:12px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
.living_desc h3 a:hover {
	color: #e94e38;
}
.living_desc p {
	color: #96a6a7;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin-bottom: 10px;
}
.btn3 {
	float: left;
	font-size: 13px;
	background-color: #1db05e;
	color: white;
	padding: 5px 10px;
	display: inline-block;
	-webkit-appearance: none;
}
.btn3:hover {
	background: #e94e38;
	text-decoration: none;
	color: #fff;
}
p.price {
	float: right;
	color: #566375;
	font-size:12px;
}
.propertyDetails {
	background-color: #f8f8f8;
	margin-top: 0px;
	border: 1px solid #cacaca;
	width: 100%;
	text-align: center;
}
.propertyDetails td {
	font-size:10px;
	width: 33.6%;
	padding: 10px 0;
	border-color: #cacaca;
	color: #ababab;
}
.living_bottom {
	background: #fff;
	padding: 20px 10px 0;
}
.post_left p {
	color: #96a6a7;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin: 10px 0;
}
.post_left p a {
	color: #e94e38;
	text-decoration: underline;
}
.post_left p a:hover {
	text-decoration: none;
}
.divider {
	height: 2px;
	background: #E6E6E6;
	width: 200px;
}
p.field-content {
	color: #5A5A5A;
	text-transform: uppercase;
	font-size: 0.8125em;
	font-weight: 700;
}
.post_left {
	margin-bottom: 20px;
}
.mask1 {
	text-decoration: none;
	overflow: hidden;
	display: block;
	text-align:center;
}
h2.title.block-title {
	text-align: center;
	font-size:0.85em;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
}
/*--education--*/
ul.feature {
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
}
ul.last_grid {
	margin-bottom: 0;
}
.education_box {
	margin-bottom: 20px;
}
ul.feature li.feature_right {
	overflow: hidden;
}
ul.feature li.feature_right h4 {
	color: #566375;
	text-transform: uppercase;
	font-size: 0.8125em;
}
ul.feature li.feature_right p {
	color: #9AA3B0;
	font-size: 12px;
	line-height: 1.8em;
	font-weight: 100;
	margin-top: 5px;
}
i.icon-trophy {
	float: left;
	margin-right:10px;
}
.entertain_box {
	text-align: center;
}
p.educate {
	float: left;
	margin-bottom: 0px !important;
}
.educate_grid {
	margin-bottom: 2em;
}
/*--entertain--*/
.grid_box2 {
	background: #fff;
	padding: 1em;
}
.grid_box2 h4 {
	text-transform: uppercase;
	font-size:0.85em;
	font-weight: 500;
	margin-bottom: 5px;
}
.grid_box2 h4 a {
	color: #000;
}
.grid_box {
	margin-bottom: 20px;
}
.grid_box:hover .grid_box2 h4 a {
	color: #e94e38;
	text-decoration: none;
}
.grid_box2 p {
	text-transform: uppercase;
	font-size: 11px;
	color: #e94e38;
	font-weight: 500;
}
/*--404--*/
.page-not-found {
	border-top: 1px solid #f0f0f0;
	padding: 20px 10px;
}
.page-not-found h1 {
	font-size:3em;
	color: #96a6a7;
	text-align: center;
	font-weight: 100;
	margin-bottom: 0;
}
/*--contact--*/
.contact {
	padding: 20px 10px;
	border-top: 1px solid #f0f0f0;
}
.contact h1 {
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px;
}
.map iframe {
	min-height:100px;
	width: 100%;
	border: none;
}
address.address {
	margin-top: 20px;
}
.address p {
	color: #000;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin: 0 0 16px;
	font-style: normal;
}
.address dd {
	color: #96a6a7;
	font-size: 0.8125em;
	line-height: 1.8em;
}
.address dd a {
	color: #000;
}
.to input[type="text"] {
	padding:10px;
	width: 90%;
	font-size: 12px;
	margin: 10px 0;
	border: none;
	color: #96a6a7;
	background: none;
	outline: none;
	border:1px solid #96a6a7;
	text-transform: uppercase;
}
.text input[type="text"], .text textarea {
	width:90%;
	font-size: 12px;
	margin: 10px 0;
	border: none;
	border:1px solid #96a6a7;
	color: #96a6a7;
	background: none;
	outline: none;
	text-transform: uppercase;
	height:80px;
	padding:10px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
}
.form-submit1 {
	text-align: center;
}
.form-submit1 input[type="submit"] {
	color: #FFF;
	text-align: center;
	font-size: 0.8125em;
	font-weight: normal;
	padding:8px;
	text-transform: uppercase;
	background: #e94e38;
	display: inline-block;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
}
.form-submit1 input[type="submit"]:hover {
	background: #7B7C7C;
}
.living_middle h2 {
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 10px;
}
