<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<title>Duhoot for high end mobiles, like samsung, nokia, lg, sony erricosn, htc mobile website templates for free | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="mobile/css/style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
	<div class="container">
	<!---start-top-nav---->
	  <div class="header-top">	
	     <div class="logo">
			<a href="index.html"><img src="mobile/images/logo.png" alt=""/></a>
		</div>	
		 <a class="navicon" href="#menu"> </a>
	     <div class="clear"> </div>
		</div>	
		<!---End-top-nav---->
	</div>
</div>   
<div class="banner">
   	  <div class="container_wrap">
   		<h1>What are you looking for?</h1>
   	       <div class="dropdown-buttons">   
            		  <div class="dropdown-button">           			
            			<select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
            			<option value="0">Dubai</option>	
						<option value="1">Australia</option>
						<option value="2">Sri Lanka</option>
						<option>Newzeland</option>
						<option value="4">Pakistan</option>
						<option value="5">United Kingdom</option>
						<option value="6">United states</option>
						<option value="7">Russia</option>
						<option value="8">Mirum</option>
					  </select>
					</div>
				     <div class="dropdown-button">
					  <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
            			<option value="0">Education</option>	
						<option value="1">tempor</option>
						<option value="2">congue</option>
						<option value="3">mazim </option>
						<option value="4">mutationem</option>
						<option value="5">hendrerit </option>
						<option value="5"></option>
						<option value="5"></option>
					  </select>
					 </div>
				   </div>  
		    <form>
				<input type="text" value="Keyword, name, date, ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Keyword, name, date, ...';}">
			    <div class="contact_btn">
	               <label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>
	            </div>
			</form>        		
   		    <div class="clear"></div>
         </div>
   </div>
   <div class="content_top">
   	  <div class="container">
   		<div class="col-md-4 bottom_nav">
   		   <div class="content_menu">
				<ul>
					<li class="active"><a href="#">Recommended</a></li> 
					<li><a href="#">Highlights</a></li> 
				</ul>
			</div>
		</div>
		<div class="col-md-4 content_dropdown1">
		   <div class="content_dropdown">    
		       <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
            			<option value="0">Dubai</option>	
						<option value="1">tempor</option>
						<option value="2">congue</option>
						<option value="3">mazim </option>
						<option value="4">mutationem</option>
						<option value="5">hendrerit </option>
						<option value="5"></option>
						<option value="5"></option>
		        </select>
		     </div>
		     <div class="content_dropdown">    
		       <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
            			<option value="0">Show Map</option>	
						<option value="1">tempor</option>
						<option value="2">congue</option>
						<option value="3">mazim </option>
						<option value="4">mutationem</option>
						<option value="5">hendrerit </option>
						<option value="5"></option>
						<option value="5"></option>
		        </select>
		       </div>
		</div>
		<div class="col-md-4 filter_grid">
			<ul class="filter">
				<li class="fil">Filter :</li>
				<li><a href=""><img src="mobile/images/1.png" alt=""/></a></li>
				<li><a href=""><img src="mobile/images/2.png" alt=""/></a></li>
				<li><a href=""><img src="mobile/images/3.png" alt=""/></a></li>
				<li><a href=""><img src="mobile/images/4.png" alt=""/></a></li>
			</ul>
		</div>
   	</div>
   </div>
   <div class="content_middle">
   	  <div class="container">
   	    <div class="content_middle_box">
          <div class="top_grid">
   			<div class="col-md-3">
   			  <div class="grid1">
   				<div class="index_img"><img src="mobile/images/pic1.jpg" class="img-responsive" alt=""/></div>
   				<div class="inner_wrap">
   				 	<h3>2 bedroom house for rent in Dubai</h3>
   				 	<ul class="star1">
   				 	  <h4 class="green">Vision Agency</h4>
   				 	  <li><a href="#"> <img src="mobile/images/star1.png" alt="">(236)</a></li>
   				 	</ul>
   				 </div>
   			   </div>
   			</div>
   			<div class="col-md-3">
   			  <div class="grid1">
   				 <div class="index_img1"><img src="mobile/images/pic2.jpg" class="img-responsive" alt=""/></div>
   				 <div class="inner_wrap">
   				 	<h3>2 bedroom house for rent in Dubai</h3>
   				 	<ul class="star1">
   				 	  <h4 class="yellow">Vision Agency</h4>
   				 	  <li><a href="#"> <img src="mobile/images/star2.png" alt="">(136)</a></li>
   				 	</ul>
   				 </div>
   			   </div>
   			</div>
   			<div class="col-md-3">
   			  <div class="grid1">
   				 <div class="index_img2"><img src="mobile/images/pic2.jpg" class="img-responsive" alt=""/></div>
   				 <div class="inner_wrap">
   				 	<h3>2 bedroom house for rent in Dubai</h3>
   				 	<ul class="star1">
   				 	  <h4 class="yellow">Vision Agency</h4>
   				 	  <li><a href="#"> <img src="mobile/images/star2.png" alt="">(136)</a></li>
   				 	</ul>
   				 </div>
   			   </div>
   			</div>
   			<div class="clear"> </div>
   		</div>
   	    <div class="middle_grid">
   			<div class="col-md-6">
   			   <div class="grid1">
   			     <div class="index_img"><img src="mobile/images/pic4.jpg" class="img-responsive" alt=""/></div>
   				  <div class="inner_wrap1">
   				 	<ul class="item_module">
   				 	 	<li class="module_left"><img src="mobile/images/m1.jpg" class="img-responsive" alt=""/></li>
   				 	 	<li class="module_right">
   				 	 		<img src="mobile/images/m_star.png" class="img-responsive" alt=""/>
   				 	 		<h5>Lucy-p</h5>
   				 	 		<p>"Ut wisi enim "</p>
   				 	 		<a href="#" class="content_btn">....read more</a>
   				 	 	</li>
   				 	 	<div class="clear"> </div>
   				 	 </ul>
   				   </div>
   			   </div>
   			</div>
   			<div class="col-md-6">
   			   <div class="grid1">
   			     <div class="index_img1"><img src="mobile/images/pic5.jpg" class="img-responsive" alt=""/></div>
   				  <div class="inner_wrap1">
   				 	<ul class="item_module">
   				 	 	<li class="module_left"><img src="mobile/images/m2.jpg" class="img-responsive" alt=""/></li>
   				 	 	<li class="module_right">
   				 	 		<img src="mobile/images/m_star1.png" class="img-responsive" alt=""/>
   				 	 		<h5>Lucy-p</h5>
   				 	 		<p>"Ut wisi enim."</p>
   				 	 		<a href="#" class="content_btn">....read more</a>
   				 	 	</li>
   				 	 	<div class="clear"> </div>
   				 	 </ul>
   				  </div>
   			   </div>
   			</div>
   			<div class="clear"> </div>
   		   </div>
   	      </div>
   		  <div class="offering">
   		  	  <h2>What can DuHoot offer to you ?</h2>
   		  	  <h3>Ut wisi enim ad minim</h3>
   		  	  <ul class="icons">
   		  	  	 <li><img src="mobile/images/5.png" alt=""/></li>
   		  	  	 <li><img src="mobile/images/6.png" alt=""/></li>
   		  	  	 <li><img src="mobile/images/7.png" alt=""/></li>
   		  	  	 <li><img src="mobile/images/8.png" alt=""/></li>
   		  	  	 <li><img src="mobile/images/9.png" alt=""/></li>
   		  	  </ul>
   		  	  <div class="real">
   		  	  	<h4>Reality</h4>
   		  	  	<div class="col-sm-6">
   		  	  	  <ul class="service_grid">
   	   				<i class="s1"><img src="mobile/images/10.png" alt=""/></i>
   	   				 <li class="desc1">
   	   				   <p>Nam liber tempor cum soluta nobis</p>
   	   				 </li>
   	   				 <div class="clear"> </div>
   	   			   </ul>
   	   			 </div>
   	   			 <div class="col-sm-6">
   		  	  	  <ul class="service_grid">
   	   				<i class="s1"><img src="mobile/images/11.png" alt=""/></i>
   	   				 <li class="desc1">
   	   				   <p>Nam liber tempor cum soluta nobis</p>
   	   				 </li>
   	   				 <div class="clear"> </div>
   	   			   </ul>
   	   			 </div>
   	   			 <div class="clear"> </div>
   	   			 </div>
   		  	  </div>
   		  </div>
   	  </div>
   </div>
   <!----start-nav-links---->
			<div class="navgation-links">
			   	<a name="menu"> </a>
			   	   <ul>
					   <li><a href="index.html">Reality</a></li>
					   <li><a href="living.html">Living</a></li> 
					   <li><a href="education.html">Education</a></li> 
					   <li><a href="entertain.html">Entertainment</a></li>
					   <li><a href="404.html">Mobility</a></li>
				  </ul>
			</div>
   <!----start-nav-links---->
   <div class="footer">
   	<div class="container">
   	 <div class="footer_top">
   	   <h3>Subscribe to our newsletter</h3>
   	   <form>
		<span>
			<i><img src="mobile/images/mail.png" alt=""/></i>
		    <input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
		    <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Subscribe"> </label>
		    <div class="clear"> </div>
		</span>			 	    
	   </form>
	  </div>
	  <div class="footer_grids">
	     <div class="footer-grid">
			<h4>Ipsum Quis</h4>
			<ul class="list1">
				<li><a href="contact.html">Contact</a></li>
				<li><a href="#">Mirum est</a></li>
				<li><a href="#">placerat facer</a></li>
				<li><a href="#">claritatem</a></li>
				<li><a href="#">sollemnes </a></li>
			</ul>
		  </div>
		  <div class="footer-grid">
			<h4>Quis Ipsum</h4>
			<ul class="list1">
				<li><a href="#">placerat facer</a></li>
				<li><a href="#">claritatem</a></li>
				<li><a href="#">sollemnes </a></li>
				<li><a href="#">Claritas</a></li>
				<li><a href="#">Mirum est</a></li>
			</ul>
		  </div>
		  <div class="footer-grid last_grid">
			<h4>Follow Us</h4>
			<ul class="footer_social">
			  <li><a href=""><img src="mobile/images/fb.png" alt=""/></a></li>
			  <li><a href=""><img src="mobile/images/tw.png" alt=""/></a></li>
			  <li><a href=""><img src="mobile/images/google.png" alt=""/></a></li>
		 	</ul>
		 	<div class="copy">
              <p>© 2014 Duhoot. Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	        </div>
		  </div>
		  <div class="clear"> </div>
	   </div>
      </div>
   </div>
</body>
</html>		